<!--@subject You have received reward points from a friend@-->
<b>Dear {{var name}},</b><br>

<p style="font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;background-color:#E8E8E8;padding: 5px;font-size: 15px;color: #000">Your friend <b>{{var sender.name}}</b>  with email {{var sender.email}} has sent <b>{{var points}} reward points</b> to you.<br>
Please login to your account and check your reward points using this <a style="text-decoration: none;" href="{{var login_link}}">link.</a><br>

<br>If you do not have an account please register an account to receive these points.<br>
Please click here to this <a style="text-decoration: none;" href="{{var register_link}}"> link </a> register an account.</p>
